<header class="site-header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-content">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div id="main-navbar" class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <!-- {% for page in site.pages %}
                                    {% if page.title %}
                                        <li>
                                            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %} -->
                                {% if site.github_username %}
                                    <li>
                                        <a href="https://github.com/{{ site.github_username }}">
                                            {% include svg-github-icon.html %}
                                            <span class="visible-xs-inline">GitHub</span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% if site.twitter_username %}
                                    <li>
                                        <a href="https://twitter.com/{{ site.twitter_username }}">
                                            {% include svg-twitter-icon.html %}
                                            <span class="visible-xs-inline">Twitter</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                        {% include svg-rss-icon.html %}
                                        <span class="visible-xs-inline">RSS Feed</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
