/**
 * Site header
 */
.site-header {
    nav {
        border-top: 5px solid $gray-dark;

        .icon > svg {
            path {
                fill: $gray-dark;
            }
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    .site-header nav .icon > svg {
        width: 16px;
        height: 16px;
        margin-right: .5em;
    }
}


/**
 * Site body
 */
.site-content {
    min-height: 600px;
    padding-top: $navbar-height + $navbar-margin-bottom;
    padding-bottom: $line-height-computed * 3;
    background-color: $body-bg;
}


/**
 * Site footer
 */
.site-footer {
    padding: $line-height-computed 0;
    border-top: 1px solid $gray-light;
    color: $gray-light;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        display: inline;
    }

    .icon > svg {
        margin-right: .5em;
    }
}
