/**
 * Site header
 */
.site-header {
    nav {
        border-top: 5px solid $gray-dark;
    }
}


/**
 * Site body
 */
.site-content {
    min-height: 600px;
    padding-top: $navbar-height + $navbar-margin-bottom;
    background-color: $body-bg;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $gray-light;
    padding: $line-height-computed 0;
    color: $gray-light;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        display: inline;
    }
}
